
.navbar{
    position:absolute;
    display:grid;
    grid-template-rows: 1fr 1fr;
    top: 0;
    width:100vw;
    height:16vh;
    background:#6497B1;
    z-index:2;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.29);
}

.navbar-top{
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-bottom{
    position: relative;
    display:flex;
    margin-left:6%;
    height:100%;
    width:40%;
    align-items:center;
    justify-content: space-between;
}
.heading{
    color:#FFFEFE;
    font-size: 36px;
    font-family:Open Sans;
    font-weight:bold;
}

.items{
    position: relative;
    width:40%;
    height:100%;
}

.navbar-items{
    position: relative;
    display:flex;
    width:100%;
    height:100%;
    justify-content: space-between;
    align-items: center;
}

.btn{
    height:2.2rem;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:0.8rem;
    padding-left:0.8rem;
    padding-right:0.8rem;
    border-radius:0.8rem;
    border:none;
    font-size: 15px;
    font-family:Roboto;
    font-weight: bold;
    box-shadow:4px 4px 3px 0 rgba(0,0,0,0.24);
    color:#000;
    background:#D9D9D9;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.button{
    height:2.2rem;
    min-width:5rem;
    width:auto;
    padding-left:0.6rem;
    padding-right:0.6rem;
    border-radius:0.8rem;
    border:none;
    font-size: 15px;
    box-shadow:4px 4px 3px 0 rgba(0,0,0,0.24);
    color:#FFFBFB;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.09);
    transition: 0.3s ease-in-out;
}

.button.reverse{
    border:2px solid #000;
}

.icon{
    position: relative;
    background:url('https://static.vecteezy.com/system/resources/previews/007/686/724/original/india-flag-circle-image-and-icon-free-vector.jpg');
    background-size:cover;
    background-position:45%;
    min-height:32px;
    min-width:32px;
    border-radius:32px ;
}

.container{
    position:absolute;
    
}